<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body> 
    <form method="get" action="{%url 'room' %}">
    <input type="text" placeholder="Enter name of room to enter" name="room_name" id="room_name">
    <input type="text" placeholder="Enter Player name" name="player_name" id="player_name">

    <button type="submit"> Enter room</button>
    </form>
    

    
</body>
</html>